{% extends 'index.html' %}

{% block content %}
    <!-- MAIN CONTAINER -->        
    <div id="suggestions-container" class="w-full">
        <textarea class="rounded-b-md w-full p-1 text-black bg-white" id="autocomplete-input"></textarea>
        <ul class="text-black" id="suggestions-list"></ul>
    </div>
    {% if user.is_authenticated %}
        <div class="mt-5">
            <form action="" method="post">
                <button>Save</button>
            </form>
        </div>
    {% else %}
        <div class="text-center">
            <button class="mt-5 py-3 px-4 bg-white text-black hover:bg-[#ccc] rounded-md">
                Please login first to save your diary
            </button>
        </div>
    {% endif %}
    <!-- END OF MAIN CONTAINER -->
    <script>
        $(document).ready(function () {
            $('#autocomplete-input').on('input', function () {
                var prefix = $(this).val();
                $.ajax({
                    url: '/lstm/suggestions/',
                    data: { 'prefix': prefix },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        displaySuggestions(data);
                    }
                });
            });
    
            // Function to replace the last word in the input field
            function replaceLastWord(replacement) {
                var inputField = $('#autocomplete-input');
                var currentText = inputField.val();
                var words = currentText.split(' ');
    
                if (words.length > 1) {
                    words[words.length - 1] = replacement;
                    inputField.val(words.join(' '));
                } else {
                    inputField.val(replacement);
                }
    
                inputField.focus();
                $('#suggestions-list').empty(); // Clear suggestions after replacing the word
            }
    
            // Function to display suggestions
            function displaySuggestions(suggestions) {
                var suggestionsList = $('#suggestions-list');
                suggestionsList.empty();
    
                // Split suggestions into words and iterate
                console.log(suggestions);
                var words = suggestions.split(' ');
                words.forEach(function (word) {
                    var li = $('<li>').text(word);
                    li.on('click', function () {
                        replaceLastWord(word);
                    });
                    suggestionsList.append(li);
                });
            }
        });
    </script>    
{% endblock %}